<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">

          



              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">firstName</th>
                    <th scope="col">lastName</th>
                    <th scope="col">maidenName</th>
                    <th scope="col">age</th>
                    <th scope="col">gender</th>
                    <th scope="col">email</th>
                    <th scope="col">phone</th>
                    <th scope="col">username</th>
                    <th scope="col">password</th>
                    <th scope="col">birthDate</th>
                    <th scope="col">image</th>



                    


                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of users">
                    <th scope="row"> {{i.id}}  </th>
                    <td>{{i.firstName}}</td>
                    <td>{{i.lastName}}</td>
                    <td>{{i.maidenName}}</td>
                    <td>{{i.age}}</td>
                    <td>{{i.gender}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.phone}}</td>
                    <td>{{i.username}}</td>
                    <td>{{i.password}}</td>
                    <td>{{i.birthDate}}</td>
                    <td><img src="{{i.image}}" alt="" height="100"></td>



                 



                  </tr>
                
                </tbody>
              </table>




        </div>
    </div>
</div>